body {
    margin: 0%;
    scroll-behavior: smooth;
    padding: 0%;
    cursor: crosshair;
}

#canvas {
    margin: 0%;
    padding: 0%;
    position: fixed;
    cursor: crosshair;
}

.btn {
    background-color: #ffffff;
    border-radius: 26px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 12pt;
    padding: 8px 16px;
    text-decoration: none;
    margin: 2px;
    position: relative;
}

.btn:hover {
    font-style: italic;
    /* font-weight: bolder; */
}

a {
    text-decoration: none;
    color: #000000;
}

#info {
    display: none;
    z-index: 100;
    margin-left: 2px;
    width: 100vw;
    margin-right: 2px;
    position: fixed;
    bottom: 0;
}

.visible {
    display: inline-block;
}

#helper {
    margin: inherit;
    bottom: inherit;
}

#what {
    background-color: #ffffff;
    border-radius: 26px;
    border: 1px solid #000000;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 12pt;
    padding: 8px 16px;
    text-decoration: none;
    margin: 2px;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    z-index: 90;
}

#what a {
    text-decoration: underline;
}

#what a:hover {
    font-style: italic;
}

#what.visible {
    display: inline-block;
}

.phone {
    display: none;
}

@media only screen and (max-width: 768px) {
    #what {
        width: 90vw;
        top: 2px;
        transform: translate(-50%, 0%);
        overflow: scroll;
    }
    #info {
        display: inline-block;
    }
    .phone {
        display: inline-block;
    }
    #helper,
    #restart {
        display: none;
    }
}

#bodyposter {
    background-color: rgb(230, 230, 230);
}

.poster-image {
    height: 100vh;
    max-width: 100vw;
    scroll-behavior: smooth;
    position: sticky;
    top: 0;
    box-shadow: 10px 10px 20px black;
}